
body {
/*     text-align: center; */
    color:#00264d;
    font-family: 'Futura STD light';
}

div#title_image {
  align:center;
  text-align: center;
  margin:0px;

  background-image:url(../images/atix.png);
/*   padding:100px 0px 0px 100px; */
  background-repeat:no-repeat;
  background-position: center;
  height: 90px;
}

span#title_string{
  align:center;
  text-align:center;
  padding:5px;
  position: relative;
  margin: 3000px 0px 0px 200px;
  font-weight: bold;
  font-size: 120%;
  background-color:red;
  color:white;
/*  text-shadow:2px 2px 2px  white;
  text-shadow: 0px 0px 10px white, -1px -1px white;*/

  width: 200px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  border: 1px solid black;
  -webkit-appearance: none;
}

h3 {
    margin:2px;
    padding:2px;

    background-color: #fe9e02;
    border: 1px solid black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/*div#content{
  padding: 50px 0px 0px 50px;
  align:center;
}*/

div.row {
  padding: 5px;
  margin: 5px;
/*   margin-left:auto; */
  margin-right:auto;
}

div#mainbox{
/*    align:center;
    text-align:center;*/
    width: 80%;
    margin-right:auto;
    margin-left: auto;
}

div#innerbox {
  border: 1px solid black;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

/*    align: left;
  text-align:  left;

  break-inside: avoid-column;
  break-inside: avoid;*/

  margin: 5px;
  padding: 5px;

}

div#state_item {
    padding: 10px 5px 5px 10px;
    margin: 5px;

}

span.onair {
    align:center;
    text-align:center;

    width: 30%;
    padding:5px;
    margin: 5px;

    font-weight: bold;
    font-size: 120%;
    background-color:red;
    color:white;
    text-shadow:2px 2px 2px  white;
    text-shadow: 0px 0px 10px white, -1px -1px white;

    width: 200px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    border: 1px solid black;
    -webkit-appearance: none;

/*      box-shadow: 2px 2px 2px red, -2px -2px red;*/

    -moz-box-shadow: 0 0 3px 3px red;
    -webkit-box-shadow: 0 0 3px 3px red;
    box-shadow: 0 0 3px 3px red;

}

span.offair {
  align:center;
  text-align:center;

  width: 30%;
  padding:5px;
  margin: 5px;

  font-weight: bold;
  font-size: 120%;
/*  background-color: #d2a0a0;
  color: #797979; */
  background-color: white;
  color: white;
  text-shadow:2px 2px 2px  white;
  text-shadow: 0px 0px 10px white, -1px -1px white;

  width: 200px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
/*
  border: 1px solid black;
  -webkit-appearance: none;
  box-shadow:1px 1px 1px  black;
*/
  border: 1px solid white;
  -webkit-appearance: none;
  box-shadow:1px 1px 1px  white;
}


span#person_nummer {
  font-weight: bold;
  font-size: 120%;
}

div#sbahn {
  background-color: #00264d;
  color: white;
  font-weight: bold;
  font-size: 200%;
  line-height: 150%;
  align:center;
  text-align:center;
  padding:10px;
  margin: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

div#no_sbahn {
    background-color: #fe9e02;
    color: black;
    text-decoration: blink;
    font-weight: bold;
    font-size: 200%;
    line-height: 150%;
    align:center;
    text-align:center;
    padding:10px;
    margin: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div#late_train {


    text-decoration: blink;
    font-weight: bold;
    font-size: 200%;
    line-height: 150%;
    align:center;
    text-align:center;
    padding:10px;
    margin: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;


    background-color:red;
    color:white;
    text-shadow:2px 2px 2px  white;
    text-shadow: 0px 0px 10px white, -1px -1px white;

    border: 1px solid black;
    -webkit-appearance: none;

    -moz-box-shadow: 0 0 3px 3px red;
    -webkit-box-shadow: 0 0 3px 3px red;
    box-shadow: 0 0 3px 3px red;

}

div#center_form {
  align:center;
  text-align: center;
}

button.speichern {
    color:#00264d;
    background-color: #fe9e02;
    font-size: 120%;

    margin: 5px;
    padding:5px;
/*    color:#fe9e02;
    background-color: #00264d;*/

    border: 1px;
    border-style:solid;
    border-color: #00264d;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

textarea {
    width: 80%;
    margin-right:auto;
    height: 70%;
    margin: 10px;
    padding:10px;

    border: 1px solid black;
    border-color: #00264d;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div#feedback_box {
    color:#00264d;
    background-color: #fe9e02;

    width: 30%;
    margin-right:auto;
    margin-left: auto;
    padding:10px;

    border: 1px;
    border-style:solid;
    border-color: #00264d;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
